<!--<p>ng-class works!</p>-->

<div class="container mt-5">

  <h1 [ngClass]="'tema-uno'">{{tema}}</h1>
  <p [ngClass]="'tema-dos tema-tres'">NgClass como cadena</p>
  <hr>

  <div [ngClass]="alerta" class="alert" role="alert">
    Con ngClass estamos cambiandola clase del estilo usando un string y usando variable.
  </div>
  <button class="btn btn-info m-1" (click)="alerta= 'alert-info'">Info</button>
  <button class="btn btn-success m-1" (click)="alerta= 'alert-success'">
    Success
  </button>
  <button class="btn btn-success m-1" (click)="alerta= 'alert-danger'">
    Danger
  </button>
  <button class="btn btn-success m-1" (click)="alerta= 'alert-warning'">
    Warning
  </button>
  <button class="btn btn-success m-1" (click)="alerta= 'alert-primary'">
    Primary
  </button>
  <button class="btn btn-success m-1" (click)="alerta= 'alert-light'">
    Light
  </button>
  <button class="btn btn-success m-1" (click)="alerta= 'alert-dark'">Dark</button>

  <hr />
  <h3
    [ngClass]="{
      'text-danger': propiedad.danger,
      'text-info': !propiedad.danger
    }">
    Con ngClass estamos cambiando la clase del estilo usando objetos
  </h3>

  <button
  type="button"
  class="btn"
  (click)="propiedad.danger= !propiedad.danger"
  [ngClass]="{
    'btn-danger': propiedad.danger,
    'btn-info': !propiedad.danger
  }">
  Cambiar
</button>
<hr/>
<p [ngClass]="['tena-uno', 'tema-dos', 'tema-tres']">NgClass como como una
  matriz</p>

  <hr>
  <h1 [ngClass]="{'text-info':message === 1, 'text-danger':message !==1}">Mensaje
    importante, usando condicion
  </h1>

</div>
