<!--<p>mascota works!</p>-->
<div class="d-flex p-2 m-5"></div>
<div class="container">

  <ng-container *ngIf="!mascota; else divMascota">
    <div class="alert alert-warning" role="alert">
      No hay datos para mostrar
    </div>
  </ng-container>

  <ng-template #divMascota>

    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="50">
        <h1>
          <strong>Raza: {{mascota.raza}}</strong>
          <small> / de {{mascota.origen}}</small>
        </h1>
        <br />
        <img class="img" [src]="mascota.img" alt="" />
      </div>

      <div fxFlex="50">
        <h1>
          {{mascota.peso}} <small>/ Guardian: {{mascota.guardian}}</small>
        </h1>
        <button mat-button class="btn btn-success m-2" (click)="regresar()"><i class="bi bi-backspace"></i></button>
        <button name="button" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
        <br />
        <p>{{ mascota.des }}</p>
        <p>{{ mascota.salud }}</p>
        <p>{{ mascota.ejercicio }}</p>
        <p>{{ mascota.nutricion }}</p>
        <br>


      </div>
    </div>
  </ng-template>
</div>
