<!--<p>detalle works!</p>-->

<section class="py-5 border-bottom">
    <div class="container px-5">
        <div class="row gx-5">
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                    <img [src]="modulo1" alt="" class="card-img-top mt-2 " alt="..." />
                </div>
                <h2 class="h4 fw-bolder text-info mb-2">FRONT END</h2>
                <p>Parte del desarrollo web que se dedica a la parte frontal de un sitio web</p>
            </div>
            
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                    <img [src]="modulo2" alt="" class="card-img-top mt-2 " alt="..." />
                </div>
                <h2 class="h4 fw-bolder text-info mb-2">BACKEND END</h2>
                <p>Procesa la informacion que alimentará el frontend de datos</p>

            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                    <img [src]="modulo3" alt="" class="card-img-top mt-2 " alt="..." />
                </div>
                <h2 class="h4 fw-bolder text-info mb-2">DESPLIEGUE</h2>
                <p>Los contenedores permiten aislar procesos, lo que facilita la
                    tarea de separar y ejecutar aplicaciones.</p>

            </div>
        </div>
    </div>
</section>